.user {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.user--image img {
    border-radius: 100px;
    width: 40px;
}

.user--name {
    font-family: 'Open Sans';
    font-size: 15px;
}